
# Object code
*.o
*.so
*.lo
*.la

# gcov files
*.gcda
*.gcov
*.gcno

# Test suite output
*.log
*.trs

# Backup files
*~

# Release files
*.tar.gz

# Files currently being edited by vim or vi
*.swp

# automake/autoconf
.deps/
.dirstamp
.libs/
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
libtool
m4/*
!README
config.h
config.h.in
config.log
config.status
configure
stamp-h1

# Generated docs
doc/doxygen-output

