#
# Copyright (C) 2013 Glyptodon LLC
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#

name "base"

# Typeable characters
map 0x39 ~ " "    # Space
map 0x0F ~ 0xff09 # Tab

# Control characters
map      0x0E ~ 0xff08 # BackSpace
map      0x1C ~ 0xff0d # Return
map      0x01 ~ 0xff1b # Escape
map +ext 0x52 ~ 0xff63 # Insert
map +ext 0x53 ~ 0xffff # Delete
map +ext 0x47 ~ 0xff50 # Home
map +ext 0x4F ~ 0xff57 # End
map +ext 0x4B ~ 0xff51 # Left
map +ext 0x48 ~ 0xff52 # Up
map +ext 0x4D ~ 0xff53 # Right
map +ext 0x50 ~ 0xff54 # Down
map +ext 0x49 ~ 0xff55 # Page_Up
map +ext 0x51 ~ 0xff56 # Page_Down

# Locks
map      0x45 ~ 0xff7f # Num_Lock
map      0x46 ~ 0xff14 # Scroll_Lock
map +ext 0x3A ~ 0xffe5 # Caps_Lock

# Keypad numerals
map 0x52 ~ 0xffb0 # KP_0
map 0x4F ~ 0xffb1 # KP_1
map 0x50 ~ 0xffb2 # KP_2
map 0x51 ~ 0xffb3 # KP_3
map 0x4B ~ 0xffb4 # KP_4
map 0x4C ~ 0xffb5 # KP_5
map 0x4D ~ 0xffb6 # KP_6
map 0x47 ~ 0xffb7 # KP_7
map 0x48 ~ 0xffb8 # KP_8
map 0x49 ~ 0xffb9 # KP_9

# F keys
map 0x3B ~ 0xffbe # F1
map 0x3C ~ 0xffbf # F2
map 0x3D ~ 0xffc0 # F3
map 0x3E ~ 0xffc1 # F4
map 0x3F ~ 0xffc2 # F5
map 0x40 ~ 0xffc3 # F6
map 0x41 ~ 0xffc4 # F7
map 0x42 ~ 0xffc5 # F8
map 0x43 ~ 0xffc6 # F9
map 0x44 ~ 0xffc7 # F10
map 0x57 ~ 0xffc8 # F11
map 0x58 ~ 0xffc9 # F12

# Modifiers
map      0x2A ~ 0xffe1 # Shift_L
map      0x36 ~ 0xffe2 # Shift_R
map      0x1D ~ 0xffe3 # Control_L
map      0x9D ~ 0xffe4 # Control_R
map      0x38 ~ 0xffe9 # Alt_L
map +ext 0x38 ~ 0xffea # Alt_R
map +ext 0x5B ~ 0xffeb # Super_L
map +ext 0x5C ~ 0xffec # Super_R
map +ext 0x5D ~ 0xff67 # Menu

