#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

parent  "base"
name    "en-gb-qwerty"
freerdp "KBD_UNITED_KINGDOM"

#
# Basic keys
#

map -caps -altgr -shift 0x29 0x02..0x0D      ~ "`1234567890-="
map -caps -altgr -shift      0x10..0x1B      ~ "qwertyuiop[]"
map -caps -altgr -shift      0x1E..0x28 0x2B ~ "asdfghjkl;'#"
map -caps -altgr -shift 0x56 0x2C..0x35      ~ "\zxcvbnm,./"

map -caps -altgr +shift 0x29 0x02..0x0D      ~ "¬!"£$%^&*()_+"
map -caps -altgr +shift      0x10..0x1B      ~ "QWERTYUIOP{}"
map -caps -altgr +shift      0x1E..0x28 0x2B ~ "ASDFGHJKL:@~"
map -caps -altgr +shift 0x56 0x2C..0x35      ~ "|ZXCVBNM<>?"

map +caps -altgr -shift 0x29 0x02..0x0D      ~ "`1234567890-="
map +caps -altgr -shift      0x10..0x1B      ~ "QWERTYUIOP[]"
map +caps -altgr -shift      0x1E..0x28 0x2B ~ "ASDFGHJKL;'#"
map +caps -altgr -shift 0x56 0x2C..0x35      ~ "\ZXCVBNM,./"

map +caps -altgr +shift 0x29 0x02..0x0D      ~ "¬!"£$%^&*()_+"
map +caps -altgr +shift      0x10..0x1B      ~ "qwertyuiop{}"
map +caps -altgr +shift      0x1E..0x28 0x2B ~ "asdfghjkl:@~"
map +caps -altgr +shift 0x56 0x2C..0x35      ~ "|zxcvbnm<>?"

#
# Keys requiring AltGr (some of which are affected by Caps Lock)
#

map +altgr -shift 0x29 ~ "¦"
map +altgr -shift 0x05 ~ "€"

map -caps +altgr -shift 0x12 ~ "é"
map -caps +altgr +shift 0x12 ~ "É"
map -caps +altgr -shift 0x16 ~ "ú"
map -caps +altgr +shift 0x16 ~ "Ú"
map -caps +altgr -shift 0x17 ~ "í"
map -caps +altgr +shift 0x17 ~ "Í"
map -caps +altgr -shift 0x18 ~ "ó"
map -caps +altgr +shift 0x18 ~ "Ó"
map -caps +altgr -shift 0x1E ~ "á"
map -caps +altgr +shift 0x1E ~ "Á"
map -caps +altgr -shift 0x2E ~ "ç"
map -caps +altgr +shift 0x2E ~ "Ç"

map +caps +altgr +shift 0x12 ~ "é"
map +caps +altgr -shift 0x12 ~ "É"
map +caps +altgr +shift 0x16 ~ "ú"
map +caps +altgr -shift 0x16 ~ "Ú"
map +caps +altgr +shift 0x17 ~ "í"
map +caps +altgr -shift 0x17 ~ "Í"
map +caps +altgr +shift 0x18 ~ "ó"
map +caps +altgr -shift 0x18 ~ "Ó"
map +caps +altgr +shift 0x1E ~ "á"
map +caps +altgr -shift 0x1E ~ "Á"
map +caps +altgr +shift 0x2E ~ "ç"
map +caps +altgr -shift 0x2E ~ "Ç"

