#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

parent  "base_altgr"
name    "fr-ca-qwerty"
freerdp "KBD_CANADIAN_FRENCH"

#
# Basic keys
#

map -altgr -shift 0x29 0x02..0x0D      ~ "#1234567890-="
map -altgr -shift      0x10..0x1B 0x2B ~ "qwertyuiop^¸<"
map -altgr -shift      0x1E..0x28      ~ "asdfghjkl;`"
map -altgr -shift      0x2C..0x35      ~ "zxcvbnm,.é"

map -altgr +shift 0x29 0x02..0x0D      ~ "|!"/$%?&*()_+"
map -altgr +shift      0x10..0x1B 0x2B ~ "QWERTYUIOP^¨>"
map -altgr +shift      0x1E..0x28      ~ "ASDFGHJKL:`"
map -altgr +shift      0x2C..0x35      ~ "ZXCVBNM'.É"

#
# Keys requiring AltGr
#

map +altgr -shift 0x29 0x02..0x0D      ~ "\±@£¢¤¬¦²³¼½¾"
map +altgr -shift      0x18..0x1B 0x2B ~ "§¶[]}"
map +altgr -shift      0x27..0x28      ~ "~{"
map +altgr -shift      0x32..0x33 0x35 ~ "µ¯´"

#
# Combined accents
#

map -altgr -shift 0x1A ~ 0x0302 # COMBINING CIRCUMFLEX ACCENT
map -altgr -shift 0x1B ~ 0x0327 # COMBINING CEDILLA
map -altgr +shift 0x1B ~ 0x0308 # COMBINING DIAERESIS
map -altgr -shift 0x28 ~ 0x0300 # COMBINING GRAVE ACCENT
map +altgr -shift 0x35 ~ 0x0301 # COMBINING ACUTE ACCENT
