#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

parent  "base"
name    "tr-tr-qwerty"
freerdp "KBD_TURKISH_Q"

#
# Basic keys
#

map -caps -altgr -shift 0x29 0x02..0x0D      ~ ""1234567890*-"
map -caps -altgr -shift      0x10..0x1B      ~ "qwertyuıopğü"
map -caps -altgr -shift      0x1E..0x28 0x2B ~ "asdfghjklşi,"
map -caps -altgr -shift 0x56 0x2C..0x35      ~ "<zxcvbnmöç."

map -caps -altgr +shift 0x29 0x02..0x03      ~ "é!'"
map -caps -altgr +shift      0x05..0x0D      ~ "+%&/()=?_"
map -caps -altgr +shift      0x10..0x1B      ~ "QWERTYUIOPĞÜ"
map -caps -altgr +shift      0x1E..0x28 0x2B ~ "ASDFGHJKLŞİ;"
map -caps -altgr +shift 0x56 0x2C..0x35      ~ ">ZXCVBNMÖÇ:"

map +caps -altgr -shift 0x29 0x02..0x0D      ~ ""1234567890*-"
map +caps -altgr -shift      0x10..0x1B      ~ "QWERTYUIOPĞÜ"
map +caps -altgr -shift      0x1E..0x28 0x2B ~ "ASDFGHJKLŞİ,"
map +caps -altgr -shift 0x56 0x2C..0x35      ~ "<ZXCVBNMÖÇ."

map +caps -altgr +shift 0x29 0x02..0x03      ~ "é!'"
map +caps -altgr +shift      0x05..0x0D      ~ "+%&/()=?_"
map +caps -altgr +shift      0x10..0x1B      ~ "qwertyuıopğü"
map +caps -altgr +shift      0x1E..0x28 0x2B ~ "asdfghjklşi;"
map +caps -altgr +shift 0x56 0x2C..0x35      ~ ">zxcvbnmöç:"

#
# Keys requiring AltGr
#

map +altgr -shift 0x29 0x02..0x06      ~ "<>£#$½"
map +altgr -shift      0x08..0x0D      ~ "{[]}\|"

map +altgr -shift 0x10 ~ "@"
map +altgr -shift 0x12 ~ "€"
map +altgr -shift 0x14 ~ "₺"
map +altgr -shift 0x1F ~ "ß"

map +altgr -shift 0x56 ~ "|"


#
# Keys requiring AltGr and vary by Shift and Caps Lock
#

map -caps +altgr -shift 0x17 ~ "i"
map -caps +altgr -shift 0x1E ~ "æ"

map -caps +altgr +shift 0x17 ~ "İ"
map -caps +altgr +shift 0x1E ~ "Æ"

map +caps +altgr -shift 0x17 ~ "İ"
map +caps +altgr -shift 0x1E ~ "Æ"

map +caps +altgr +shift 0x1E ~ "æ"
map +caps +altgr +shift 0x17 ~ "i"

#
# Dead keys
#

map -altgr +shift 0x04 ~ 0xFE52 # Dead circumflex

map +altgr -shift 0x1A ~ 0xFE57 # Dead diaeresis (umlaut)
map +altgr -shift 0x1B ~ 0xFE53 # Dead tilde

map +altgr -shift 0x27 ~ 0xFE51 # Dead acute
map +altgr -shift 0x2B ~ 0xFE50 # Dead grave

# END
